@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

/* footer */
.footer {
  background-color: #2c2c54;
  color: white;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-top {
  background-color: #2c2c54;
  padding: 10px 0;
  text-align: center;
}

.footer-top p {
  margin: 0;
  font-size: 16px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid #444;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column h6 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #6a1b9a;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-column p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #ddd;
}

.footer-column ul li i {
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #1a1a3a;
  font-size: 14px;
}

/* ResearchSection */
.research-section {
  background-color: #262344;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.section-content {
  background-color: #4c3bcf;
  padding: 20px;
  height: 200px;
  border-radius: 10px;
  overflow: scroll;
}

/* ResearchDetails */
.researcher-details {
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.researcher-info {
  margin-top: 10px;
}

.contact-info {
  margin-top: 20px;
  text-align: left;
}
